<!DOCTYPE html>
<html lang="en" ng-app="Campus360">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="./css/style.css">

    <title>College Dashboard</title>
</head>

<body ng-controller="dashboardController">

    <button ng-click="showDashboard = !showDashboard">
        Show/Hide Dashboard
    </button>

    <br><br>

    <div ng-show="showDashboard">

        <input type="text" ng-model="collegeName">
        <br><br>

        <input type="number" ng-model="totalStudents">
        <button ng-click="addStudent()">Add Student</button>
        <button ng-click="removeStudent()">Remove Student</button>

        <br><br>

        <input type="number" ng-model="totalFaculty">
        <button ng-click="totalFaculty = totalFaculty + 1">
            Add Faculty
        </button>

        <br><br>

        <h1>College Name : {{collegeName}}</h1>

        <h2 ng-class="{
            'green': totalStudents > 1000,
            'red': totalStudents < 1000,
            'blue': totalStudents === 1000
        }">
            Total Students : {{totalStudents}}
        </h2>

        <h3 ng-style="{
            'font-weight': totalFaculty > 100 ? 'bold' : 'normal',
            'color': totalFaculty > 100 ? 'green' : 'red'
        }">Total Faculty : {{totalFaculty}}</h3>

        <br><br>

        <h2>Student List</h2>

        <button ng-click="showStudentList = !showStudentList">
            Show/Hide Students
        </button>

        <ul ng-show="showStudentList">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>

    </div>

    <h2>Filter Demo</h2>
    <p>uppercase : {{collegeName | uppercase}}</p>
    <p>lowercase : {{collegeName | lowercase}}</p>
    <p>currency : {{fees | currency}}</p>
    <p>date : {{today | date}}</p>
    <p>number: {{fees | number:2}}</p>

    <hr>
    <h2>Selected Departments</h2>

    <label>Select Departments</label>

    <br><br>

    <select name="departments"  ng-model="selectedDepartment" ng-options="department for department in departments">
    </select>
    <p>Selected Department: {{selectedDepartment}}</p>

</body>
</html>