<!DOCTYPE html>
<html lang="en" ng-app="Campus360">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="./css/style.css">

    <title>College Dashboard</title>
</head>

<body ng-controller="dashboardController">

    <button ng-click="showDashboard = !showDashboard">
        Show/Hide Dashboard
    </button>

    <br><br>

    <div ng-show="showDashboard">

        <input type="text" ng-model="collegeName">
        <br><br>

        <input type="number" ng-model="totalStudents">
        <button ng-click="addStudent()">Add Student</button>
        <button ng-click="removeStudent()">Remove Student</button>

        <br><br>

        <input type="number" ng-model="totalFaculty">
        <button ng-click="totalFaculty = totalFaculty + 1">
            Add Faculty
        </button>

        <br><br>

        <h1>College Name : {{collegeName}}</h1>

        <h2 ng-class="{
            'green': totalStudents > 1000,
            'red': totalStudents < 1000,
            'blue': totalStudents === 1000
        }">
            Total Students : {{totalStudents}}
        </h2>

        <h3 ng-style="{
            'font-weight': totalFaculty > 100 ? 'bold' : 'normal',
            'color': totalFaculty > 100 ? 'green' : 'red'
        }">Total Faculty : {{totalFaculty}}</h3>

        <br><br>

        <h2>Student List</h2>

        <button ng-click="showStudentList = !showStudentList">
            Show/Hide Students
        </button>

        <ul ng-show="showStudentList">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>

    </div>

    <h2>Filter Demo</h2>
    <p>uppercase : {{collegeName | uppercase}}</p>
    <p>lowercase : {{collegeName | lowercase}}</p>
    <p>currency : {{fees | currency}}</p>
    <p>date : {{today | date}}</p>
    <p>number: {{fees | number:2}}</p>

    <hr>
    <h2>Selected Departments</h2>

    <label>Select Departments</label>

    <br><br>

    <select name="departments"  ng-model="selectedDepartment" ng-options="department for department in departments">
    </select>

    <hr>

    <h2>Department Info</h2>

    <div ng-switch="selectedDepartment">

        <div ng-switch-when="Computer Science">
            <h3>Computer Science Department</h3>
            <p>Head: Dr. Smith</p>
            <p>Number of Students: 200</p>

        </div>

        <div ng-switch-when="Electrical Engineering">
            <h3>Electrical Engineering Department</h3>
            <p>Head: Dr. Johnson</p>
            <p>Number of Students: 150</p>

        </div>

        <div ng-switch-when="Mechanical Engineering">
            <h3>Mechanical Engineering Department</h3>
            <p>Head: Dr. Williams</p>
            <p>Number of Students: 180</p>

        </div>

        <div ng-switch-when="Civil Engineering">
            <h3>Civil Engineering Department</h3>
            <p>Head: Dr. Brown</p>
            <p>Number of Students: 220</p>

        </div>

        <div ng-switch-when="Business Administration">
            <h3>Business Administration Department</h3>
            <p>Head: Dr. Davis</p>
            <p>Number of Students: 300</p>

        </div>

        <div ng-switch-default>
            <h3>Please select a department to view its information.</h3>
        </div>
    </div>

    <h2>ng-init demo</h2>

    <div ng-init="collegecode = 'CAMPUS360' ; location = 'Angamaly'">

        <p>College Code: {{collegecode}}</p>
        <p>Location: {{location}}</p>

    </div>

    <h2>ng-disabled Demo</h2>

    <button ng-click="allowAdmission()">
        Enable Admission
    </button>

    <br><br>

    <button ng-click="disableAdmission()">
        Disable Admission
    </button>

    <br><br>
    <p>Disabled: {{isDisabled}}</p>
    <button ng-disabled="isDisabled">
        Admission
    </button>



</body>
</html>